*{
    margin: 0;
}

.debug{
    .top {
    height:53px;
    background-color: green;
    border: 1px dashed black;
   
    
    }
    .bottom{
        height: 55px;
        background-color: blueviolet;
        border: 1px dashed black;

    }
    .wrapper{
        background-color: rgb(255, 1, 1);
        
    }

    .row{
          border: 1px dashed black;
    }
}

body{
    height: 100vh;
    overflow: hidden;
}

.wrapper{
    height: calc(100%-112px);
    
}
.left{
    width: 60%;
}
.right{
    width: 40%;
}
.row{
    display: flex;
}



