* {
    margin: 0;
}

.debug {
    background-color: red;

    * {
        border: 1px dashed black;
    }

    .left {

        background-color: green;
    }

    .right {
        background-color: rgb(74, 54, 54);
    }
    header{
        background-color: blue;
    }

}


body {
    height: 100vh;
    overflow: hidden;

}


.left {
    width: 65%;

    height: 100%;


}

.right {
    width: 35%;
    height: 100%;

}

.row {
    display: flex;
}




header {
    height: 112px;
    background-color: #222222;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav{
            display: flex;
            gap: 1rem;
            a{
                color: white;
            }
            .cerca{
                background-color: #464646;
                border: 0;
                color: #898989;
            }
        }
    }
 
}


main {
    height: calc(100% - 112px);
    display: flex;
}