* {
    margin: 0;
}

.debug {
    background-color: red;

    * {
        border: 1px dashed black;
    }

    .left {

        background-color: green;
    }

    .right {
        background-color: rgb(74, 54, 54);
    }

}


body {
    height: 100vh;
    overflow: hidden;

}


.left {
    width: 65%;

    height: 100%;


}

.right {
    width: 35%;
    height: 100%;

}

.row {
    display: flex;
}




header {
    height: 112px;
    background-color: blue;
}


main {
    height: calc(100% - 112px);
    display: flex;
}